{% load static %}    

<!--ヘッダー-->
<head>
    <meta charset="UTF-8">
    <title>メニュー｜オリアート</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap CSSのリンク -->
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<!--ナビゲーションバー-->
<div class="navbar">
  <a href="{% url 'cafe:base' %}">Home</a>
  <a href="{% url 'cafe:menu' %}">Menu</a>
  <a href="{% url 'cafe:map' %}">Map</a>
  <a href="{% url 'photo:index' %}">Review</a>
  <a href="{% url 'cafe:mobile' %}">Mobile Order</a>
</div>

<!--サイドバー-->
<div class="sidebar">
  <button id="toggleBtn" class="toggle-btn">☰</button>
  <h2>Category</h2>
  <ul>
    <li><a href="{% url 'cafe:coffee_m' %}">coffee</a></li>
    <li><a href="{% url 'cafe:oleato_m' %}">oleato</a></li>
    <li><a href="{% url 'cafe:espresso_m' %}">espresso</a></li>
    <li><a href="{% url 'cafe:frappuccino_m' %}">frappuccino</a></li>
    <li><a href="{% url 'cafe:tea_m' %}">tea</a></li>
    <li><a href="{% url 'cafe:others_m' %}">others</a></li>
</ul>
</div>
<!--ボディー-->
<body>
  <div class="menu" style="background-image: url('{% static "img/wood.jpeg" %}'); opacity:0.8;">
    <h1 style="text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);">メニュー｜オリアート</h1>
    <div class="menu-grid">
    {% for record in orderby_records %}
      {% if record.category == "oleato" %}
        <div class="record">
          <img src="{{ record.image.url }}" alt="{{ record.name }}">
          <h3>{{ record.name }}</h3>
          <p>価格: {{ record.price }}円</p>
          <div style="text-align: right;">
            <button>カートに追加</button>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</body>
<!-- Bootstrap JSのリンク -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>