{% extends 'base2.html' %}

{% block title %}Sent password reset{% endblock %}

      {% block content %}

      <hr>

      <div class='container'>

        <div class='row'>

            <div class='col py-4'>
             
                <h5>パスワードのリセット手順をメールで送信しました。
                    メールはすぐに届きます。</h5>
                <p>
                    登録済みの名を入力してください。
                    パスワードリセットのリンクを記載したメールをすぐにお届けします。
                <br>
                <h6>
                    メールが届かない場合は、登録済みのメールアドレスであるかを
                    確認し、迷惑メールフォルダーも確認してみてください。</h6>
                  <br>

                  <a href="{% url 'photo:index' %}">Post Review</a>
                  <hr>
                </div>
              </div>
            </div>
            {% endblock %}